@import 'nullstyle.scss';

$j: center;
$c: center;
$w: wrap;

@mixin justify($j, $c, $w) {
  	display: flex;
	justify-content: $j;
	align-items: $c;
	flex-wrap: $w;
}

.wrapper {
	@include justify($j, flex-start, $w);
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	margin-top: 6px;
}

.container {
	margin: 0 auto; 
}

a {
	cursor: pointer;
}

.comments {
	max-width: 767px;
	width: 100%;
	&__comment {
		a {
			color: #4aa5ff;
		}
	}
	&__body {
		background: #e6f5ff;
		border: 1px solid #d9e6f0;
		margin: 15px;
		padding: 9px 17px 14px;
	}
	&__rows {
		@include justify(flex-start, flex-start, nowrap);
	}
	&__text {
		padding: 0 30px 0 7px;
		h3 {
			color: #a3a5a6;
			font-size: 12px;
    		font-weight: 600;
		}
		h2 {
			color: #070708;
			padding: 5px 0;
		}
		p {
			color: #121314;
			font-size: 13px;
		}
	}
	&__open {
		text-align: right;
		font-size: 14px;
		font-weight: 600;
		height: 16px;
	}
	@media (max-width: 1046px) {
		order: 2;
	}
}

.commented {
	max-width: 705px;
	width: 100%;
	margin: -16px auto 50px;
	&__comment {
		background: #e6f5ff;
		border: 1px solid #d9e6f0;
	}
	&__body {
		@include justify(flex-start, flex-start, nowrap);
		padding: 9px 17px;
	}
	&__text {
		padding: 0 30px 0 7px;
		h2 {
			color: #070708;
			padding: 5px 0;
			span {
				color: #a3a5a6;
				font-size: 12px;
	    		font-weight: 600;
			}
		}
		p {
			color: #121314;
			font-size: 13px;
		}
	}
	&__hide {
		text-align: right;
		font-size: 14px;
		font-weight: 600;
		margin-top: 5px;
		a {
			background: #e6f5ff;
			padding: 5px;
		}
	}
}
.ibg {
}

.filters {
	background: #ccc;
	max-width: 280px;
	width: 100%;
	padding: 18px;
	align-self: normal;
	form {
		p {
			margin-top: 10px;
			padding: 2px;
		}
		input {
			padding: 2px 10px;
		}
	}
	@media (max-width: 1046px) {
		order: 1;
	}
}
@media (max-width: 1046px) {
	.comments {
		.comments__text {
			h2 {
				height: 50px;
			}
		    p {
		    	margin: 40px 0 5px -108px;
		    }
		}
	}
}
@media (max-width: 767px) {
	.commented {
	    max-width: 370px;
	}
}